.about-img {
    width: 100%;
    height: 350px;
    margin-top: 0px;
    position: relative;
}

.us {
    position: absolute;
    color: white;
    top: 150px;
    right: 350px;
}

.main {
    margin-top: -5px;
    padding: 40px 20px 0px 20px;
    background-color: rgba(41, 22, 110, 1);
    color: white;
}

p {
    text-align: center;
    display: block;
}

.vision {
    display: flex;
    padding: 20px 50px 0px 50px;
    background-color: rgba(41, 22, 110, 1);
    color: white;
}

.vision-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission {
    margin-left: -50px;
    margin-top: -25px;
}

.mission-part {
    position: relative;
}

.vis-stat {
    position: absolute;
    right: 300px;
    top: 20px;
}

.to-vis {
    text-align: none;
    margin-left: -400px;
}

.vision-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-img {
    height: 300px;
    width: 500px;
    margin-right: 150px;
}

.vis-sec {
    background-color: rgba(41, 22, 110, 1);
    color: white;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.about-text {
    display: block;
    width: 600px;
    line-height: 25px;
}

.dot {
    margin-right: 10px;
}

.mission-img {
    height: 450px;
    width: 450px;
    margin-right: 20px;
}

.mis-stat {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.mis-img {
    margin-top: -250px;
}

.main-about {
    margin-top: -50px;
}