.main {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}

.gallery-img {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 1110px;
    margin-left: -50px;
    background: linear-gradient(180deg, #FFFDC7 37.4%, #29166E 104.1%);
}

.gallery-pics {
    height: 350px;
    width: 350px;
}

h4 {
    margin-left: -45px;
}

h1 {
    text-align: center;
}