.main {
    padding-left: 100px;
    padding-right: 25px;
    margin-bottom: 50px;
}

.gallery-img {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    row-gap: 30px;
    column-gap: 30px;
    place-items: center;
    padding: 20px;
    width: 1150px;
    margin-left: -65px;
    background: linear-gradient(180deg, #FFFDC7 37.4%, #29166E 104.1%);
}

.gallery-pics {
    height: 350px;
    width: 360px;
}

h4 {
    margin-left: -45px;
    color: rgba(41, 22, 110, 1);
}

h1 {
    text-align: center;
}

#gal {
    text-transform: capitalize;
}

@media (max-width:600px) {
    .gallery-img {
        display: grid;
        grid-template-columns: 120px 120px;
        row-gap: 10px;
        column-gap: 10px;
        place-items: center;
        place-content: center;
        padding: 20px;
        width: 250px;
    }
    .gallery-pics {
        height: 150px;
        width: 120px;
    }
    #gal {
        width: 250px;
    }
    .gal-head {
        margin-left: -250px;
    }
}