body {
    margin: 0;
    font-family: Arial;
}

#background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*header*/

header {
    background-color: rgba(255, 253, 199, 1);
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    margin-right: 150px;
}

li {
    list-style: none;
    margin-left: 50px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.laj-logo {
    height: 100px;
}


/*body*/

.home-main {
    display: flex;
    align-items: start;
    margin-top: 25px;
}

.Welcome {
    padding-left: 50px;
    color: #fff;
}

.Welcome h3 {
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 0;
}

.Welcome h1 {
    font-weight: 700;
    font-size: 84px;
    margin-top: 0;

}

.Welcome p {
    font-size: 30px;
    font-weight: 400;
    margin-top: -25px;
}


/*about*/

.home-about {
    display: flex;
    margin-top: 75px;
    padding: 25px;
    background-color: rgba(41, 22, 110, 1);
    color: white;
    justify-content: space-between;
}

.home-about-img {
    height: 450px;
    width: 600px;
    object-fit: contain;
}

.home-about-text {
    width: 500px;
    text-align: center;
}

.read-more-button {
    background-color: rgba(255, 253, 199, 1);
    width: 150px;
    height: 50px;
    border-radius: 2px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.read-more-button:hover {
    opacity: 0.8;
}

.read-more-button:active {
    opacity: 0.6;
}


/*staff*/

.staff {
    height: 800px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.personnel-pics {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: -35px;
    background-color: rgba(79, 55, 138, 1);
}

.right-part {
    margin-right: -30px;
}

.vice-principal {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 150px;
    width: 400px;
    height: 310px;
    box-shadow: 0px 20px 20px 10px rgba(41, 22, 110, 0.76);
    backdrop-filter: blur(5px);
    text-align: center;
    margin-top: -70px;
    background-color: white;
}

.founder {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 50px;
    width: 370px;
    height: 300px;
    box-shadow: 0px 20px 20px 10px rgba(41, 22, 110, 0.76);
    backdrop-filter: blur(5px);
    text-align: center;
    margin-bottom: 180px;
    margin-top: -50px;
    background-color: white;
}

.principal {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 50px;
    width: 390px;
    height: 330px;
    box-shadow: 0px 20px 20px 10px rgba(41, 22, 110, 0.76);
    backdrop-filter: blur(5px);
    text-align: center;
    margin-top: -85px;
    background-color: white;
}

.head-teacher {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 50px;
    width: 390px;
    height: 330px;
    box-shadow: 0px 20px 20px 10px rgba(41, 22, 110, 0.76);
    backdrop-filter: blur(5px);
    text-align: center;
    margin-left: 10px;
    background-color: white;
}

.head-teacher {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pp {
    margin: 0;
}

.speech {
    text-align: center;
}

small {
    margin-bottom: 0;
}


/*Gallery*/

.home-gallery {
    background-color: rgba(255, 253, 199, 1);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-gallery-img {
    display: grid;
    object-fit: contain;
    grid-template-columns: 380px 380px 380px;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
}

.home-gallery-pics {
    height: 370px;
    width: 380px;
}

.more-gallery {
    margin-top: 30px;
    color: white;
    background-color: rgba(41, 22, 110, 1);
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.more-gallery:hover {
    opacity: 0.8;
}

.more-gallery:active {
    opacity: 0.6;
}


/*contact*/

.contact {
    text-align: center;
    margin-top: 50px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.message-box {
    width: 600px;
    box-shadow: 2px 10px 28px 0px rgba(41, 22, 110, 0.64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 150px;
    background-color: white;
}

.message-name {
    height: 35px;
    width: 350px;
    margin-bottom: 25px;
}

.message-email {
    height: 35px;
    width: 350px;
    margin-bottom: 25px;
}

.message-content {
    height: 100px;
    width: 350px;
}

.contact-img {
    width: 100%;
    object-fit: contain;
    margin-top: -56px;
}

.message-content::placeholder {
    margin-top: 200px;
}

.send {
    height: 35px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -250px;
    border-radius: 18px;
    border: none;
    background-color: rgba(41, 22, 110, 1);
    color: white;
    cursor: pointer;
}

.con-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-img {
    margin-right: 10px;
    object-fit: contain;
}

.con {
    margin-left: 120px;
}

.con-social {
    margin-right: 10px;
}

.send:hover {
    opacity: 0.8;
}

.send:active {
    opacity: 0.6;
}


/*career*/

.career {
    padding: 50px;
}

.career h1 {
    text-align: center;
}

.career h4 {
    text-align: center;
}


/*footer*/

footer {
    background-color: rgba(41, 22, 110, 1);
    color: white;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-link {
    color: white;
}

.foot-logo {
    height: 150px;
}

.foot-ul {
    display: flex;
    margin-right: 0px;
}

.foot-li {
    list-style: none;
    margin-left: 10px;
}

.foot-left {
    display: flex;
}

.foot-right {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.foot-quick {
    margin-right: 50px;
    margin-top: 35px;
}

.copyright {
    padding-top: -1px;
    padding-bottom: 1px;
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    margin-right: 20px;
    margin-top: 5px;
    height: 20px;
}


/* result */

table,
tr,
th,
td {
    border: 2px solid;
    border-collapse: collapse;
    width: 800px;
}

table {
    margin-top: 15px;
}

#main {
    padding: 0 230px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    text-align: center;
    text-transform: capitalize;
}

.user {
    text-align: center;
    text-transform: capitalize;
}

.prince {
    display: block;
}

#principal-sec {
    width: 800px;
    text-align: start;
    margin-left: 230px;
}

#principal-sec h4 {
    text-transform: capitalize;
}


/*responsiveness*/

@media (max-width:600px) {
    .home-about-img,
    .home-img-div {
        height: 250px;
        object-fit: contain;
        width: 90%;
    }
    .laj-logo {
        height: 50px;
    }
    ul {
        margin-left: -50px;
    }
    li {
        margin-left: 20px;
    }
    .Welcome {
        margin-left: -50px;
    }
    .Welcome h1 {
        font-weight: 500;
        font-size: 29px;
        margin-top: 0;
    }
    .Welcome p {
        font-size: 16px;
        font-weight: 350;
        margin-top: -25px;
        margin-top: 10px;
    }
    .home-about {
        display: grid;
        place-content: center;
        padding: 50px;
    }
    .foot-right {
        display: none;
    }
    .copyright {
        padding: 0;
    }
    .home-img-div {
        padding-left: 50px;
        object-fit: contain;
    }
    .home-about-img {
        width: 300px;
        object-fit: contain;
    }
    .home-about-text {
        padding-left: 50px;
    }
    .h-a-text {
        width: 350px;
    }
    .home-gallery-img {
        display: grid;
        grid-template-columns: 120px 120px;
        row-gap: 10px;
        column-gap: 10px;
        place-content: center;
        object-fit: contain;
    }
    .home-gallery-pics {
        width: 120px;
        height: 100px;
    }
    /* message */
    .message {
        display: block;
        margin-left: 20px;
    }
    .send {
        margin-left: 20px;
    }
    .con {
        margin-right: 50px;
    }
    .message-box {
        width: 250px;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    .message-name {
        height: 35px;
        width: 200px;
        margin-bottom: 25px;
    }
    .message-email {
        height: 35px;
        width: 200px;
        margin-bottom: 25px;
    }
    .message-content {
        height: 100px;
        width: 200px;
    }
    .staff {
        height: auto;
        display: block;
        margin-top: 100px;
        padding-left: 10px;
        padding-bottom: 30px;
    }
    .personnel-pics {
        display: none;
    }
    .right-part {
        margin-right: -30px;
    }
    .vice-principal {
        width: 300px;
        height: 280px;
        margin-top: 50px;
    }
    .founder {
        width: 300px;
        height: 280px;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .principal {
        width: 300px;
        height: 280px;
        margin-top: -85px;
    }
    .head-teacher {
        width: 300px;
        height: 280px;
        margin-left: 10px;
        margin-top: 50px;
    }
    #main {
        padding: 0;
    }
    #principal-sec {
        width: 300px;
        text-align: start;
        margin-left: 0px;
    }
    table,
    tr,
    th,
    td {
        width: 300px;
    }
    .career {
        padding: 20px;
    }
}