#name,
#Password,
#Age,
#Class,
#Password2 {
    width: 300px;
    height: 25px;
}

.register-form {
    background-color: white;
    width: 350px;
    box-shadow: 2px 10px 28px 0px rgba(41, 22, 110, 0.64);
    height: 400px;
    padding: 50px;
}

.sign-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-btn {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    margin-left: 120px;
    border: none;
    background-color: rgba(41, 22, 110, 1);
    color: white;
}

@media (max-width:600px) {
    .register-form {
        width: 300px;
    }
}