.main {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
}

.testi-cards {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    column-gap: 100px;
}

.testi-pics {
    height: 100px;
    width: 100px;
    border-radius: 75px;
}

.testimonial {
    cursor: pointer;
    text-align: center;
    box-shadow: 15px 15px 4px 0px rgba(41, 22, 110, 1);
    height: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 50px;
}